<% include("../layout/header.html"){} %>
<script src="${ctx}/static/admin/js/echarts.common.min.js" type="text/javascript"></script>
</head>

<style>

</style>
<body>
<% include("../layout/sidebar.html"){}%>
<!--内容 start-->
<div class="content">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="header">
                    <h4 class="title">月销售额</h4>
                    <p class="category"></p>
                </div>
                <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                <div id="total-echarts" style="width: 100%;height:400px;"></div>
                <script type="text/javascript">
                    // 基于准备好的dom，初始化echarts实例
                    var myChart = echarts.init(document.getElementById('total-echarts'));

                    // 指定图表的配置项和数据
                    var option = {
                        title: {
                            text: '2017 年月销售额',
                            subtext: '单位：万元',
                            x:'center'
                        },
                        tooltip: {},
                        legend: {
                            /*data: ['销量额']*/
                        },
                        xAxis: {
                            name: '月份',
                            alignWithLabel: 'true',
                            data: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]
                        },
                        yAxis: {
                            name: '销售额[万元]'
                        },
                        series: [{
                            name: '销量额',
                            type: 'bar',
                            data: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
                        }]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                </script>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card">
                <div class="header">
                    <h4 class="title">销售人员每月销售额</h4>
                    <p class="category"></p>
                </div>
                <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                <div id="employee-echarts" style="width: 100%;height:400px;"></div>
                <script type="text/javascript">
                    // 基于准备好的dom，初始化echarts实例
                    var myChart = echarts.init(document.getElementById('employee-echarts'));

                    // 指定图表的配置项和数据
                    var option = {
                        title : {
                            text: '个人月销售额',
                            subtext: '单位：万元',
                            x:'center'
                        },
                        tooltip : {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left',
                            data: ['张三','李四','王五','赵六','韩七']
                        },
                        series : [
                            {
                                name: '销售额',
                                type: 'pie',
                                radius : '55%',
                                center: ['50%', '60%'],
                                data:[
                                    {value:335, name:'张三'},
                                    {value:310, name:'李四'},
                                    {value:234, name:'王五'},
                                    {value:135, name:'赵六'},
                                    {value:1548, name:'韩七'}
                                ],
                                itemStyle: {
                                    emphasis: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                </script>
            </div>
        </div>
    </div>
</div>
<!--内容 end-->
<% include("../layout/preview.html"){}%>


<% include("../layout/footer.html"){}%>
<script>
    $(".admin-statistics").addClass("active");


</script>
</body>
</html>
