<% include("../layout/header.html"){} %>
<script src="${ctx}/static/admin/js/echarts.common.min.js" type="text/javascript"></script>
</head>

<style>

</style>
<body>
<% include("../layout/sidebar.html"){}%>
<!--内容 start-->
<div class="content">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="header">
                    <h4 class="title">月销售额</h4>
                    <p class="category"></p>
                </div>
                <div id="total-echarts" style="width: 100%;height:400px;"></div>
                <script type="text/javascript">
                    // 基于准备好的dom，初始化echarts实例
                    var myChart = echarts.init(document.getElementById('total-echarts'));

                    var option = {
                        title: {
                            text: '2017 年月销售额',
                            subtext: '单位：万元',
                            x: 'center'
                        },
                        tooltip: {},
                        legend: {
                            /*data: ['销量额']*/
                        },
                        xAxis: {
                            name: '月份',
                            alignWithLabel: 'true',
                            data: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]
                        },
                        yAxis: {
                            name: '销售额[万元]'
                        },
                        series: [{
                            name: '销量额',
                            type: 'bar',
                            data: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
                        }]
                    };

                    myChart.setOption(option);
                </script>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card">
                <div class="header">
                    <h4 class="title">销售人员每月销售额</h4>
                    <p class="category"></p>
                </div>
                <div id="employee-echarts" style="width: 100%;height:400px;"></div>
                <!--${sales[0].saller}-->
                <script type="text/javascript">
                    // 基于准备好的dom，初始化echarts实例
                    var myChart = echarts.init(document.getElementById('employee-echarts'));

                    var option = {
                        title: {
                            text: '个人月销售额',
                            subtext: '单位：万元',
                            x: 'center'
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left',
                            data: [
                                '${sales[0].saller}',
                                '${sales[1].saller}',
                                '${sales[2].saller}',
                                '${sales[3].saller}',
                                '${sales[4].saller}'
                            ]
                        },
                        series: [
                            {
                                name: '销售额',
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '60%'],
                                data: [
                                    {value: '${sales[0].amount}', name: '${sales[0].saller}'},
                                    {value: '${sales[1].amount}', name: '${sales[1].saller}'},
                                    {value: '${sales[2].amount}', name: '${sales[2].saller}'},
                                    {value: '${sales[3].amount}', name: '${sales[3].saller}'},
                                    {value: '${sales[4].amount}', name: '${sales[4].saller}'}
                                ],
                                itemStyle: {
                                    emphasis: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };

                    myChart.setOption(option);
                </script>
            </div>
        </div>
    </div>
</div>
<!--内容 end-->
<% include("../layout/preview.html"){}%>
<% include("../layout/footer.html"){}%>
<script>
    $(".admin-statistics").addClass("active");

</script>
</body>
</html>
