<% include("../layout/header.html"){} %>
<title>分类</title>
</head>
<style>
    body {
        padding-bottom: 5rem;
    }

    .category-title {
        text-align: center;
    }

    .row {
        margin: 1rem 0;
    }

    .col-xs-5 {
        padding: 0;
    }

    .col-xs-7 {
        padding: 0;
    }

    .col-xs-7 div {
        margin: .5rem 0;
        padding-left: 1rem;
        font-size: 1.5rem;
    }

    .headImg {
        width: 100%;
        height: 10rem;
    }

    .product-name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .product-intro {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
    .product-price{
        color: #eea236;
    }
</style>
<body>
<div class="category-title">
    ∙∙∙∙∙∙ 床 ∙∙∙∙∙∙
</div>
<% for(bed in beds){ %>
<div class="row">
    <div class="col-xs-5">
        <a href="${ctx}/detail?productId=${bed.productId}">
            <img class="headImg" src="${bed.headImage}">
        </a>
    </div>
    <div class="col-xs-7">
        <div class="product-name">${bed.productName}</div>
        <div class="product-intro">${bed.introduce}</div>
        <div class="product-brand">${bed.brand}</div>
        <div class="product-price">￥${bed.price}</div>
    </div>
</div>
<%}%>

<div class="category-title">
    ∙∙∙∙∙∙ 沙发 ∙∙∙∙∙∙
</div>
<% for(sofa in sofas){ %>
<div class="row">
    <div class="col-xs-5">
        <a href="${ctx}/detail?productId=${sofa.productId}">
            <img class="headImg" src="${sofa.headImage}">
        </a>
    </div>
    <div class="col-xs-7">
        <div class="product-name">${sofa.productName}</div>
        <div class="product-intro">${sofa.introduce}</div>
        <div class="product-brand">${sofa.brand}</div>
        <div class="product-price">￥${sofa.price}</div>
    </div>
</div>
<%}%>

<div class="category-title">
    ∙∙∙∙∙∙ 桌子 ∙∙∙∙∙∙
</div>
<% for(desk in desks){ %>
<div class="row">
    <div class="col-xs-5">
        <a href="${ctx}/detail?productId=${desk.productId}">
            <img class="headImg" src="${desk.headImage}">
        </a>
    </div>
    <div class="col-xs-7">
        <div class="product-name">${desk.productName}</div>
        <div class="product-intro">${desk.introduce}</div>
        <div class="product-brand">${desk.brand}</div>
        <div class="product-price">￥${desk.price}</div>
    </div>
</div>
<%}%>

<div class="category-title">
    ∙∙∙∙∙∙ 组合 ∙∙∙∙∙∙
</div>
<% for(group in groups){ %>
<div class="row">
    <div class="col-xs-5">
        <a href="${ctx}/detail?productId=${group.productId}">
            <img class="headImg" src="${group.headImage}">
        </a>
    </div>
    <div class="col-xs-7">
        <div class="product-name">${group.productName}</div>
        <div class="product-intro">${group.introduce}</div>
        <div class="product-brand">${group.brand}</div>
        <div class="product-price">￥${group.price}</div>
    </div>
</div>
<%}%>

<div class="category-title">
    ∙∙∙∙∙∙ 其他 ∙∙∙∙∙∙
</div>
<% for(other in others){ %>
<div class="row">
    <div class="col-xs-5">
        <a href="${ctx}/detail?productId=${other.productId}">
            <img class="headImg" src="${other.headImage}">
        </a>
    </div>
    <div class="col-xs-7">
        <div class="product-name">${other.productName}</div>
        <div class="product-intro">${other.introduce}</div>
        <div class="product-brand">${other.brand}</div>
        <div class="product-price">￥${other.price}</div>
    </div>
</div>
<%}%>

<% include("../layout/footer.html"){} %>
<script>
    $(".nav-product").css("color", "#eea236");
</script>
</body>
</html>