<% include("../layout/header.html"){} %>
<title>分类</title>
</head>
<style>
    body {
        padding-bottom: 5rem;
    }

    .category-title {
        text-align: center;
    }

    .row {
        margin: 1rem 0;
    }

    .col-xs-5 {
        padding: 0;
    }

    .col-xs-7 {
        padding: 0;
    }

    .col-xs-7 div {
        margin: .5rem 0;
        padding-left: 1rem;
        font-size: 1.5rem;
    }

    .headImg {
        width: 100%;
        height: 10rem;
    }

    .product-name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .product-intro {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
    .product-price{
        color: #eea236;
    }
</style>
<body>
<div class="category-title">
    ∙∙∙∙∙∙ 椅子 ∙∙∙∙∙∙
</div>
<% for(chair in chairs){ %>
<div class="row">
    <div class="col-xs-5">
        <a href="${ctx}/detail?productId=${chair.productId}">
            <img class="headImg" src="${chair.headImage}">
        </a>
    </div>
    <div class="col-xs-7">
        <div class="product-name">${chair.productName}</div>
        <div class="product-intro">${chair.introduce}</div>
        <div class="product-brand">${chair.brand}</div>
        <div class="product-price">￥${chair.price}</div>
    </div>
</div>
<%}%>

<div class="category-title">
    ∙∙∙∙∙∙ 沙发 ∙∙∙∙∙∙
</div>
<% for(sofa in sofas){ %>
<div class="row">
    <div class="col-xs-5">
        <a href="${ctx}/detail?productId=${sofa.productId}">
            <img class="headImg" src="${sofa.headImage}">
        </a>
    </div>
    <div class="col-xs-7">
        <div class="product-name">${sofa.productName}</div>
        <div class="product-intro">${sofa.introduce}</div>
        <div class="product-brand">${sofa.brand}</div>
        <div class="product-price">￥${sofa.price}</div>
    </div>
</div>
<%}%>
<% include("../layout/footer.html"){} %>
<script>
    $(".nav-product").css("color", "#eea236")
</script>
</body>
</html>