<% include("../layout/header.html"){} %>
<title>分类</title>
<style>
    .row-div {
        width: 1150px;
        margin: 0 auto;
    }

    .product {
        margin: 20px 0 !important;
    }

    .product li a img {
        width: 100%;
    }

    .product span {
        display: block;
    }

    .product-name {
        color: black;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 0;
        padding: 5px 0;
    }

    .product-price {
        color: #363636;
        font-size: 20px;
        font-weight: 200;
    }

    .caption-style-4 {
        list-style-type: none;
        margin: 0px;
        padding: 0px;

    }

    .caption-style-4 li {
        float: left;
        padding: 0px;
        position: relative;
        overflow: hidden;
    }

    .caption-style-4 li:hover .caption {
        opacity: 1;
    }

    .caption-style-4 li:hover img {
        opacity: 1;
        transform: scale(1.15, 1.15);
        -webkit-transform: scale(1.15, 1.15);
        -moz-transform: scale(1.15, 1.15);
        -ms-transform: scale(1.15, 1.15);
        -o-transform: scale(1.15, 1.15);
    }

    .caption-style-4 img {
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: 4;
    }

    .caption-style-4 .caption {
        cursor: pointer;
        position: absolute;
        opacity: 0;
        -webkit-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -o-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out;
    }

    .caption-style-4 img {
        height: 200px;
        width: 257.5px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    .caption-style-4 .blur {
        background-color: rgba(0, 0, 0, 0.65);
        height: 200px;
        width: 257.5px;
        z-index: 5;
        position: absolute;
    }

    .caption-style-4 .caption-text h1 {
        text-transform: uppercase;
        font-size: 24px;
    }

    .caption-style-4 .caption-text {
        z-index: 10;
        color: #fff;
        position: absolute;
        height: 200px;
        width: 257.5px;
        text-align: center;
        top: 50px;
    }

    .category-div {
        margin: 20px auto;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
    }

    .more {
        position: relative;
        text-align: end;
        top: 50px;
        right: 15px;
    }

    .more a {
        color: #999;
        font-weight: 300;
        text-decoration: none;
    }
</style>
<body>
<% include("../layout/navigator.html"){} %>

<!--分类一 start-->
<div class="row row-div">
    <div class="more"><a href="#"> 更多>>></a></div>
    <div class="category-div">
        ∙∙∙∙∙∙ 椅子 ∙∙∙∙∙∙
    </div>
    <% for(chair in chairs){ %>
    <div class="col-md-3">
        <div class="product caption-style-4">
            <li>
                <a href="${ctx}/detail?productId=${chair.productId}">
                    <img src="${chair.headImage}">
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h1>查看</h1>
                            <p>${chair.introduce}</p>
                        </div>
                    </div>
                </a>
            </li>
            <span class="product-name">${chair.productName}</span>
            <span class="product-price">￥${chair.price}</span>
        </div>
    </div>
    <%}%>
</div>
<!--分类一 end-->

<!--分类二 start-->
<div class="row row-div">
    <div class="more"><a href="#">更多>>></a></div>
    <div class="category-div">
        ∙∙∙∙∙∙ 沙发 ∙∙∙∙∙∙
    </div>
    <% for(sofa in sofas){ %>
    <div class="col-md-3">
        <div class="product caption-style-4">
            <li>
                <a href="${ctx}/detail?productId=${sofa.productId}">
                    <img src="${sofa.headImage}">
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h1>查看</h1>
                            <p>${sofa.introduce}</p>
                        </div>
                    </div>
                </a>
            </li>
            <span class="product-name">${sofa.productName}</span>
            <span class="product-price">￥${sofa.price}</span>
        </div>
    </div>
    <%}%>
</div>


<!--分类二 end-->
<% include("../layout/footer.html"){} %>
<script>
    // 设置分类聚焦
    $(".nav-category").addClass("active");



</script>
</body>
</html>