<style>
    .social ul li {
        display: inline-block;
        margin: 0 20px;
    }

    .social i.fa {
        font-size: 26px;
        padding: 4px;
        color: #cab17a;
        transition: all 0.3s;
    }

    .social i.fa:hover {
        font-size: 26px;
        padding: 4px;
        color: #FFFFFF;
        transition: all 0.3s;
    }

    .social ul li a {
        color: #cab17a;
        cursor: pointer;
    }

    #to_top {

    }

    #to_top i:hover {
        color: #cab17a;
    }
</style>

<div style="background: #252531; padding: 50px 0 20px 0;">
    <div class="container text-center">
        <div class="social" style="visibility: visible; margin-bottom: 50px;">
            <ul style="list-style: none;">
                <li>
                    <a data-container="body" class="show" data-toggle="popover" data-animation="true"
                       data-trigger="focus"
                       data-placement="left"
                       data-html='true'
                       data-content="<img style='width:100px;width:100px;' src='${ctx}/static/img/qrcode.png'/>">
                        <i class="fa fa-weixin" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a data-container="body" class="show" data-toggle="popover" data-animation="true"
                       data-placement="top"
                       data-html='true'
                       data-content="<img style='width:100px;width:100px;' src='${ctx}/static/img/qrcode.png'/>">
                        <i class="fa fa-weibo"></i></a>
                </li>
                <li>
                    <a data-container="body" class="show" data-toggle="popover" data-animation="true"
                       data-placement="top"
                       data-html='true'
                       data-content="<img style='width:100px;width:100px;' src='${ctx}/static/img/qrcode.png'/>">
                        <i class="fa fa-qrcode"></i></a>
                </li>
                <li>
                    <a data-container="body" class="show" data-toggle="popover" data-animation="true"
                       data-placement="top"
                       data-html='true'
                       data-content="<abbr title='Phone'>电话：</abbr> (1111) 2222-3333">
                        <i class="fa fa-phone"></i></a>
                </li>
                <li>
                    <a data-container="body" class="show" data-toggle="popover" data-animation="true"
                       data-placement="right"
                       data-html='true'
                       data-content="<address>
                                        <strong>美家家居, Inc.</strong><br>
                                        广南路 388 号佳润大厦<br>
                                        江苏省、无锡市、崇安区<br>
                                    </address>">
                        <i class="fa fa-map-marker"></i></a>
                </li>

            </ul>
        </div>
        <div class="fnav">
            <p style="color: #ada8a8;">© 2017 zc741. All rights reserved.</p>
        </div>
    </div>
</div>

<!--back to up-->
<div id="to_top" style="font-size: 30px;color: #999; display: none; right: 50px; bottom: 50px; position: fixed; cursor: pointer;">
        <i class="fa fa-angle-up"></i>
</div>
<!--footer end-->
<script src="${ctx}/static/js/jquery.min.js"></script>
<script src="${ctx}/static/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
    $(".show").click(function () {
        $(this).popover('toggle');
    });

    window.onscroll = function () {
        var distance = document.documentElement.scrollTop || document.body.scrollTop;
        if (distance >= 200) {
            document.getElementById('to_top').style.display = "";
        } else {
            document.getElementById('to_top').style.display = "none";
        }
        var toTop = document.getElementById("to_top");
        toTop.onclick = function () {
            //document.documentElement.scrollTop = document.body.scrollTop = 0;
            $('html,body').animate({
                scrollTop: '0px'
            }, 500);
        }
    }
</script>
