<style>
    .footer div{
        padding: 1px 10px;
    }
    .footer div i{
        font-size: 25px;
        font-weight: 300;
    }
</style>
<div class="footer"
     style="background: #FFFFFF; text-align: center;bottom: 0; width: 100%; height:50px; display: block;position: fixed;">
    <div class="col-xs-3">
        <i class="fa fa-home"></i>
        <div>首页</div>
    </div>
    <div class="col-xs-3 ">
        <i class="fa fa-navicon"></i>
        <div>产品</div>
    </div>
    <div class="col-xs-3 ">
        <i class="fa fa-shopping-cart"></i>
        <div>购物车</div>
    </div>
    <div class="col-xs-3 ">
        <i class="fa fa-user"></i>
        <div>我的</div>
    </div>
</div>

<script src="${ctx}/static/js/jquery-3.2.1.min.js"></script>
<script src="${ctx}/static/js/bootstrap.min.js"></script>
