<% include("../layout/header.html"){} %>
<title>首页</title>
</head>
<style>
    .item img {
        width: 100%;
        height: 700px !important;
    }

    .discount {
        width: 1150px;
        margin: 50px auto;
    }

    .discount img {
        width: 100%;
    }

    .product-div {
        width: 1150px;
        margin: 50px auto;
    }

    .product li a img {
        width: 100%;
    }

    .product span {
        display: block;
    }

    .product-name {
        color: black;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 0;
        padding: 5px 0;
    }

    .product-price {
        color: #363636;
        font-size: 20px;
        font-weight: 200;
    }

    .caption-style-4 {
        list-style-type: none;
        margin: 0px;
        padding: 0px;

    }

    .caption-style-4 li {
        float: left;
        padding: 0px;
        position: relative;
        overflow: hidden;
    }

    .caption-style-4 li:hover .caption {
        opacity: 1;
    }

    .caption-style-4 li:hover img {
        opacity: 1;
        transform: scale(1.15, 1.15);
        -webkit-transform: scale(1.15, 1.15);
        -moz-transform: scale(1.15, 1.15);
        -ms-transform: scale(1.15, 1.15);
        -o-transform: scale(1.15, 1.15);
    }

    .caption-style-4 img {
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: 4;
    }

    .caption-style-4 .caption {
        cursor: pointer;
        position: absolute;
        opacity: 0;
        -webkit-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -o-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out;
    }

    .caption-style-4 img {
        height: 200px;
        width: 250px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    .caption-style-4 .blur {
        background-color: rgba(0, 0, 0, 0.65);
        height: 200px;
        width: 257.5px;
        z-index: 5;
        position: absolute;
    }

    .caption-style-4 .caption-text h1 {
        text-transform: uppercase;
        font-size: 24px;
    }

    .caption-style-4 .caption-text {
        z-index: 10;
        color: #fff;
        position: absolute;
        height: 200px;
        width: 250px;
        text-align: center;
        top: 50px;
    }

    .social ul li {
        display: inline-block;
        margin: 0 20px;
    }

    .social i.fa {
        font-size: 26px;
        padding: 4px;
        color: #cab17a;
        transition: all 0.3s;
    }

    .social i.fa:hover {
        font-size: 26px;
        padding: 4px;
        color: #FFFFFF;
        transition: all 0.3s;
    }

    .social ul li a {
        color: #cab17a;
    }

    /*discount*/
    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }

    .hovereffect .overlay {
        position: absolute;
        overflow: hidden;
        width: 80%;
        height: 80%;
        left: 10%;
        top: 10%;
        border-bottom: 1px solid #FFF;
        border-top: 1px solid #FFF;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
        transform: scale(0, 1);
    }

    .hovereffect:hover .overlay {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .hovereffect img {
        display: block;
        position: relative;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
    }

    .hovereffect:hover img {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
        filter: brightness(0.6);
        -webkit-filter: brightness(0.6);
    }

    .hovereffect h2 {
        text-transform: uppercase;
        text-align: center;
        position: relative;
        font-size: 17px;
        background-color: transparent;
        color: #FFF;
        padding: 1em 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    .hovereffect a, .hovereffect p {
        color: #FFF;
        padding: 1em 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    /*discount*/
    .new-product {
        margin: 20px 0;
        font-size: 20px;
        text-align: center
    }
</style>
<body>
<% include("../layout/navigator.html"){} %>

<!--banner start-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <% for(banner in banners){%>
        <div class="item">
            <a href="${banner.linkUrl}" style="width: 100%;height: 700px">
                <img src="${banner.imgUrl}" alt="...">
                <div class="carousel-caption">
                    ${banner.introduce}
                </div>
            </a>
        </div>
        <%}%>
    </div>
</div>
<!--banner end-->

<!--discount start-->
<div class="row discount">
    <%for(discount in discounts){%>
    <div class="col-md-6">
        <div class="hovereffect">
            <img class="img-responsive" src="${discount.imgUrl}" alt="">
            <div class="overlay">
                <h2>${discount.imgName}</h2>
                <p>
                    <a href="${discount.linkUrl}">查看</a>
                </p>
            </div>
        </div>
    </div>
    <%}%>
</div>
<!--discount end-->

<div class="new-product">
    新款
</div>
<!--product start-->
<div class="row product-div">
    <% for(new in news){ %>
    <div class="col-md-3" style="margin-bottom: 20px">
        <div class="product caption-style-4">
            <li>
                <a href="#">
                    <img src="${new.imgUrl}">
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h1>查看</h1>
                            <p>${new.introduce}</p>
                        </div>
                    </div>
                </a>
            </li>

            <span class="product-name">${new.imgName}</span>
            <span class="product-price">￥${new.price}</span>
        </div>
    </div>
    <%}%>
</div>
<!--product end-->
<div class="new-product">
    热销产品
</div>
<!--product start-->
<div class="row product-div">
    <% for(hot in hots){ %>
    <div class="col-md-3" style="margin-bottom: 20px">
        <div class="product caption-style-4">
            <li>
                <a href="#">
                    <img src="${hot.imgUrl}">
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h1>查看</h1>
                            <p>${hot.introduce}</p>
                        </div>
                    </div>
                </a>
            </li>

            <span class="product-name">${hot.imgName}</span>
            <span class="product-price">￥${hot.price}</span>
        </div>
    </div>
    <%}%>
</div>
<!--product end-->

<!--footer start-->

<% include("../layout/footer.html"){} %>

<script>
    // 控制 banner
    $(".item:first").addClass("active");
    // 设置首页聚焦
    $(".nav-home").addClass("active");
</script>

</body>
</html>