<% include("../layout/header.html"){} %>
</head>

<style>

</style>
<body>
<% include("../layout/sidebar.html"){}%>
<!--内容 start-->
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">导航栏</h4>
                    <p class="category">请及时处理用户留言</p>
                </div>

            </div>
        </div>
    </div>
</div>
<!--内容 end-->
<% include("../layout/preview.html"){}%>


<% include("../layout/footer.html"){}%>
<script>
    $(".admin-home").addClass("active");
</script>
</body>
</html>
