<% include("../layout/header.html"){} %>
<title>登录</title>
<style>
    .login-div {
        width: 50%;
        margin: 30% auto;
    }

    .login-div input {
        margin-bottom: 1rem;
    }

    .form-control:focus {
        border-color: #eea236;
    }
</style>
<body>
<div style="width: 1150px;margin: 0 auto; text-align: center">
    <div class="login-div">
        <input type="text" class="form-control name" placeholder="Username" aria-describedby="sizing-addon2">
        <input type="password" class="form-control password" placeholder="Password" aria-describedby="sizing-addon2">
        <button type="button" class="btn btn-warning login">Submit</button>
    </div>
</div>

<% include("../layout/footer.html"){} %>
<script>
    $(".login").click(function () {
        var data = {};
        data.userName = $(".name").val();
        data.password = $(".password").val();
        $.ajax({
            url: "${ctx}/user/loginCheck",
            type: "post",
            cache: false,
            data: data,
            cache: false,
            dataType: "json",
            success: function (result) {
                if (result == "1") {
                    console.log("登录成功");
                    //todo 跳转到逻辑界面
                } else {
                    console.log("登录失败")
                }
            }
        });
    })
</script>
</body>
</html>