<% include("../layout/header.html"){} %>
<style>

    .user-div {
        width: 1150px;
        margin: 3rem auto;
        background: #fff;
        padding: 3rem;
        box-shadow: 0 1px 1px rgba(0, 2, 2, 0.1);
    }

    .avatarUrl-div {
        text-align: center;
    }

    .avatarUrl {
        width: 10rem;
        height: 10rem;
        border-radius: 99rem;
        border: 1px solid #eee;
    }

    .form-control:focus {
        border-color: #eea236;
    }

    .file {
        position: relative;
        display: inline-block;
        background: #eea236;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        padding: 5px 15px;
        overflow: hidden;
        color: #FFF;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
    }

    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }

    .file:hover {
        background: #eea236;
        border-color: #eea236;
        color: #eeeeee;
        text-decoration: none;
    }

    .modal-dialog {
        margin-top: 25rem;
    }

    .update-info {
        width: 100%;
        margin-top: 1.7rem;
    }

    .row {
        margin: 0;
    }

    .caption-style-4 {
        list-style-type: none;
        margin: 0px;
        padding: 0px;

    }

    .caption-style-4 li {
        float: left;
        padding: 0px;
        position: relative;
        overflow: hidden;
    }

    .caption-style-4 li:hover .caption {
        opacity: 1;
    }

    .caption-style-4 li:hover img {
        opacity: 1;
        transform: scale(1.15, 1.15);
        -webkit-transform: scale(1.15, 1.15);
        -moz-transform: scale(1.15, 1.15);
        -ms-transform: scale(1.15, 1.15);
        -o-transform: scale(1.15, 1.15);
    }

    .caption-style-4 img {
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: 4;
    }

    .caption-style-4 .caption {
        cursor: pointer;
        position: absolute;
        opacity: 0;
        -webkit-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -o-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out;
    }

    .caption-style-4 img {
        height: 200px;
        width: 257.5px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    .caption-style-4 .blur {
        background-color: rgba(0, 0, 0, 0.65);
        height: 200px;
        width: 257.5px;
        z-index: 5;
        position: absolute;
    }

    .caption-style-4 .caption-text h1 {
        text-transform: uppercase;
        font-size: 24px;
    }

    .caption-style-4 .caption-text {
        z-index: 10;
        color: #fff;
        position: absolute;
        height: 200px;
        width: 257.5px;
        text-align: center;
        top: 50px;
    }

    .favorite-title {
        margin: 3rem 0;
        text-align: center;
        font-size: 2rem;
    }
    .favorite-div{
        margin-bottom: 1rem;
    }
    .my-info{
        margin-bottom: 3rem;
        text-align: center;
        font-size: 2rem;
    }
    .price {
        color: #eea236;
    }
</style>
<body>
<% include("../layout/navigator.html"){} %>
<div class="user-div">
    <div class="my-info">
        我的信息
    </div>
    <div class="row">
        <div class="col-md-4 avatarUrl-div">
            <img class="avatarUrl" src="${userInfo.avatarUrl}" alt="头像"
                 onerror="this.src='${ctx}/static/img/error.png'">
            <form id="uploadForm" enctype="multipart/form-data" method="POST">
                <a href="javascript:;" class="file">上传头像
                    <input id="uploadInput" type="file" name="uploadFile" multiple>
                </a>
            </form>
        </div>
        <div class="col-md-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputUserName" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control userName" id="inputUserName"
                               value="${userInfo.userName}">
                    </div>
                </div>
                <input class="phoneNumber" type="hidden" value="${userInfo.phoneNumber}">
                <div class="form-group">
                    <label for="inputAddress" class="col-sm-2 control-label">地址</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control address" id="inputAddress" placeholder="请填写地址"
                               value="${userInfo.address}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="button" class="btn btn-warning update-info">更&emsp;新</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="favorite-title">
        我的关注
    </div>

    <div class="row">
        <% for(favorite in favorites){ %>
        <div class="col-md-3 favorite-div">
            <div class="product caption-style-4">
                <li>
                    <a href="${ctx}/detail?productId=${favorite.productId}">
                        <img src="${favorite.headImage}">
                        <div class="caption">
                            <div class="blur"></div>
                            <div class="caption-text">
                                <h1>查看</h1>
                                <p>${favorite.productName}</p>
                                <p class="price">￥${favorite.price}</p>
                                <p>${favorite.introduce}</p>
                            </div>
                        </div>
                    </a>
                </li>
            </div>
        </div>
        <%}%>
    </div>

</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                信息更新成功
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-warning submit-true">确认</button>
            </div>
        </div>
    </div>
</div>
<% include("../layout/footer.html"){} %>
<script src="${ctx}/static/js/jquery.form.js"></script>
<script>
    // 设置首页聚焦
    $(".nav-user").addClass("active");

    var avatarUrl = "";
    $("#uploadInput").on("change", function () {
        $(this).parent().submit();
    });

    $("#uploadForm").on('submit', (function (e) {
        e.preventDefault();
        var serializeData = $(this).serialize();
        $(this).ajaxSubmit({
            type: 'POST',
            url: "${ctx}/file/uploadImage",
            dataType: "json",
            data: serializeData,
            contentType: false,
            cache: false,
            processData: false,
            complete: function (result) {
                avatarUrl = result.responseText;
                console.log(result.responseText);
                $(".avatarUrl").attr("src", avatarUrl);
            }
        })
    }));

    $(".update-info").click(function () {
        var data = {};
        data.userName = $(".userName").val();
        data.address = $(".address").val();
        data.avatarUrl = avatarUrl;
        data.phoneNumber = $(".phoneNumber").val();
        $.ajax({
            url: "${ctx}/user/updateUser",
            type: "post",
            data: data,
            dataType: "json",
            complete: function (result) {
                console.log(result);
                if (result.responseText == "1") {
                    $('#myModal').modal('show');
                }
            }
        })
    });

    $(".submit-true").click(function () {
        $('#myModal').modal('hide');
    });

</script>
</body>
</html>