<script src="${ctx}/static/admin/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="${ctx}/static/admin/js/bootstrap.min.js" type="text/javascript"></script>
<script>
    $(".change-color").click(function () {
        console.log("change-color");
        // blue | azure | green | orange | red | purple
        var color = [
            "blue",
            "azure",
            "green",
            "orange",
            "red",
            "purple",
            "beige"
        ];

        var n = Math.floor(Math.random() * color.length);
        $(".sidebar").attr("data-color", color[n]);
    })
</script>