<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="${ctx}/static/admin/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>后台管理-Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <link href="${ctx}/static/admin/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="${ctx}/static/admin/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <link href="${ctx}/static/admin/css/font-awesome.min.css">
    <link href="${ctx}/static/admin/css/pe-icon-7-stroke.css" rel="stylesheet"/>
