<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a>
                        预览官网
                    </a>
                </li>
                <li>
                    <a href="${ctx}">
                        首页
                    </a>
                </li>
                <li>
                    <a href="${ctx}/product">
                        分类
                    </a>
                </li>
                <li>
                    <a href="${ctx}/user">
                        我的
                    </a>
                </li>
                <li>
                    <a href="${ctx}/message">
                        留言
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy;
            <script>document.write(new Date().getFullYear())</script>
            <a href="http://www.jingdongjiaju.cn">官网</a> 作者 : zc741
        </p>
    </div>
</footer>
</div>
</div>